.Card {
  position: relative;
  margin: min(5vw, 30px);
  width: 370px;
  aspect-ratio: 370 / 480;
  box-shadow: 1px 2px 9px gray;
  background-color: white;
  border-radius: 10% / 7%;
  overflow: hidden;
  transition: all 0.5s;
}

.Card.before {
  margin-top: 100%;
}

.Card-image-container {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Card-image {
  width: 100%;
  height: auto;
}

.Card-date {
  position: absolute;
  top: 4.17%;
  right: 5.4%;
  box-shadow: 1px 2px 6px gray;
  border-radius: 10px;
  width: auto;
  padding: 2%;
  background-color: white;
}

.Card-header {
  text-align: center;
  position: absolute;
  top: 43%;
  width: 100%;
}

.Card-desc {
  position: absolute;
  top: 57%;
  left: 10%;
  width: 80%;
}

.Card-footer-container {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 3.125%;
  width: 100%;
  height: 20.8%;
}

.Card-tags {
  position: relative;
  height: auto;
  vertical-align: middle;
  left: 7%;
}

.Card-tag-item {
  position: relative;
  background-color: rgb(220, 220, 220);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 2%;
  text-align: center;
  margin: 2%;
  white-space: nowrap;
  font-size: 0.82em;
  display: inline-block;
}

.Card-tag-item:hover {
  background-color: rgb(200, 200, 200);
  color: black;
  cursor: pointer;
}

.Card-link-repo {
  position: absolute;
  top: 30%;
  right: 9%;
  height: 38%;
}

.Card-link-website {
  position: absolute;
  top: 30%;
  right: 23%;
  height: 38%;
}

.Card-link-image {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
}
