.Card {
  position: relative;
  margin: 5vw 0 0 5vh;
  width: 20vw;
  height: calc(20vw * 1.3);
  box-shadow: 1px 2px 9px gray;
  border-radius: 10% / 7%;
  overflow: hidden;
}

.Card-link-repo {
  position: absolute;
  right: 8%;
  bottom: calc(8% / 1.3);
  width: 10%;
  height: calc(10% / 1.3);
}

.Card-link-website {
  position: absolute;
  right: 22%;
  bottom: calc(8% / 1.3);
  width: 10%;
  height: calc(10% / 1.3);
}

.Card-link-image {
  width: 100%;
  height: auto;
}

.Card-header {
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 2em;
}

.Card-desc {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 80%;
}

.Card-image-container {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Card-image {
  width: 100%;
  height: auto;
}

.Card-tags {
  position: absolute;
  width: 60%;
  bottom: 6%;
  left: 5%;
  display: inline-flex;
}

.Card-tag-item {
  box-shadow: 1px 2px 3px gray;
  position: relative;
  height: 1.2em;
  background-color: gainsboro;
  border-radius: 10% / 15%;
  width: fit-content;
  height: fit-content;
  padding: 2%;
  text-align: center;
  margin: 2%;
}
