.Card {
  position: relative;
  margin: 30px;
  width: 370px;
  aspect-ratio: 370 / 480;
  box-shadow: 1px 2px 9px gray;
  border-radius: 10% / 7%;
  overflow: hidden;
}

.Card-image-container {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Card-image {
  width: 100%;
  height: auto;
}

.Card-header {
  text-align: center;
  position: absolute;
  top: 43%;
  width: 100%;
  font-size: 2em;
}

.Card-desc {
  position: absolute;
  top: 57%;
  left: 10%;
  width: 80%;
}

.Card-footer-container {
  --IMAGE-LEN: 38px;
  --FOOTER-HEIGHT: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 15px;
  width: 100%;
  height: var(--FOOTER-HEIGHT);
}

.Card-tags {
  position: relative;
  height: auto;
  vertical-align: middle;
  left: 7%;
}

.Card-tag-item {
  box-shadow: 1px 2px 3px gray;
  position: relative;
  height: 1.2em;
  background-color: rgb(220, 220, 220);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 2%;
  text-align: center;
  margin: 2%;
  white-space: nowrap;
  font-size: 0.82em;
  display: inline-block;
}

.Card-tag-item:hover {
  background-color: rgb(200, 200, 200);
  color: black;
  cursor: pointer;
}

.Card-link-repo {
  position: absolute;
  top: calc((var(--FOOTER-HEIGHT) - var(--IMAGE-LEN)) / 2);
  right: 30px;
}

.Card-link-website {
  position: absolute;
  top: calc((var(--FOOTER-HEIGHT) - var(--IMAGE-LEN)) / 2);
  right: 80px;
}

.Card-link-image {
  width: var(--IMAGE-LEN);
  height: var(--IMAGE-LEN);
}
