.TagSearch {
  margin: 0px 60px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.TagSearch-input-container {
  position: relative;
  margin-top: 20px;
  min-width: 200px;
  max-width: 100%;
  flex: 1 1 100px;
  height: 40px;
}

.TagSearch-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.TagSearch-info {
  margin: 20px 60px 0;
  font-size: 1.1em;
}

.TagSearch-tag {
  background-color: rgb(225, 225, 225);
  margin-top: 20px;
  margin-right: 20px;
  height: 40px;
  width: auto;
  padding: 0px 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
}

.TagSearch-tag:hover {
  cursor: pointer;
  text-decoration: line-through;
}
