@keyframes slide-left {
  0% { left: -200%; }
  100% { left: 0 }
}

@keyframes fade-in {
  0% { opacity: 0% }
  100% { opacity: 100% }
}

.TagSearch {
  margin: 0px 60px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.TagSearch-info {
  margin: 20px 60px 0;
  font-size: 1.1em;
  animation: fade-in 2s forwards;
}

.TagSearch-input-container {
  position: relative;
  margin: 20px 20px 0px 0px;
  min-width: 200px;
  max-width: 100%;
  flex: 1 1 100px;
  height: 40px;
}

.TagSearch-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 2s;
  animation: slide-left 2s forwards;
}

.TagSearch-AutoComplete {
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.TagSearch-AutoComplete-item:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.TagSearch-tag {
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
  height: 40px;
  width: auto;
  padding: 0px 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
}

.TagSearch-tag:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.TagSearch-order {
  height: 40px;
  width: 150px;
  margin: 20px 20px 0px 0px;
  animation: fade-in 2s forwards;
  z-index: 2;
}