.TagSearch {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    height: 50px;
}

.TagSearch-input {
    margin-top: 20px;
    height: 40px;
    width: 100%;
}

.TagSearch-tag {
    background-color: rgb(225, 225, 225);
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
}

.TagSearch-tag:hover {
    cursor: pointer;
    text-decoration: line-through;
}