.ListSection {
  position: relative;
  opacity: 90%;
  width: 80%;
  padding: 2.5% 5%;
  margin: 5vh auto;
  background-color: white;
  border-radius: 30px;
  transition: all 0.75s;
  cursor: pointer;
}

.ListSection.before {
  margin-top: 100%;
}

.ListSection-header {
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.ListSection-SingleEvent {
  font-size: 1.1em;
  list-style-type: none;
}

.ListSection-SingleEvent-dropdown {
  height: 1.1em;
  width: auto;
  margin-right: 0.5em;
  rotate: 270deg;
  opacity: 80%;
  transition: all 0.25s;
}

.ListSection-SingleEvent-dropdown.down {
  rotate: 360deg;
}

.ListSection-SingleEvent-extrainfo {
  font-size: 0.9em;
  margin-left: 2em;
  height: auto;
  overflow: hidden;
}

.ListSection-SingleEvent-extrainfo.hide {
  height: 0px;
}
